.Contact-header {
    font-size: 40px;
    line-height: 115px;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);

}
.Contact-body {
    margin: var(--m) 10%
}
.Contact-Submit {
    padding-top: var(--l);
    display: flex;
    justify-content: center;
}
