.MainPage1{
    background-color:#ffcd37; 
    background-size: 65%;
    background-image: url('../images/bear.png');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: bottom right;   
    height: 100vh;
    font-family: "Ubuntu", sans-serif;

}


.Contact-header {
    font-size: 20px;
    line-height: 10px;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);

}
.Contact-message {
    font-size: 20px;
    line-height: 100px;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);

}
.Contact-Submit {
    font-size: 20px;
    line-height: 30px;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}
