.DuckFinish{
    background-color: #80593c; 
    background-size: 65%;
    background-image: url('../images/ducky.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;   
    height: 100vh;
}

.DuckFinish-header {
    position: absolute;
    width: 680px;
    height: 329px;
    left: 150px;
    top: 120px;
    font-size: 80px;
    mix-blend-mode: normal;
    color: white;
    font-family: "Ubuntu", sans-serif;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);

}


.DuckFinish-body {
    margin: var(--m) 10%
}


.DuckFinish-Button {
    padding-top: var(--l);
    display: flex;
    justify-content: center;
    left: 415px;
    top: 410px;
    position: absolute;
}

h1 span {
    display: block;
  }
