body{
    background-color: #b5d2ff; 
    background-size: 65%;
    background-image: url('../images/bear.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;   
}

.MainPage-header {
    position: absolute;
    width: 680px;
    height: 329px;
    left: 150px;
    top: 50px;
    font-size: 120px;
    mix-blend-mode: normal;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);

}


.MainPage-body {
    margin: var(--m) 10%
}


.MainPage-Button {
    padding-top: var(--l);
    display: flex;
    justify-content: center;
    left: 415px;
    top: 410px;
    position: absolute;
}

h1 span {
    display: block;
  }

