#Opening{
    background-color: white; 
    background-size: 65%;
    background-image: url('../images/anib.gif');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center; 
    height: 100vh;
    font-family: "Ubuntu", sans-serif;
}

.Opening-Button {
    padding-top: var(--l);
    display: flex;
    justify-content: center;
    left: 415px;
    top: 410px;
    position: absolute;
}