.PlanPage{
    background-color: #ffcd37; 
    background-size: 65%;
    background-image: url('../images/bear.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;   
    height: 100vh;
}
  

.PlanPage-header {
    font-size: 40px;
    line-height: 100px;
    top: 10px;
    position: center;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);

}


.PlanPage-body {
    margin: var(--m) 10%
}

.PlanPage-planSelector {
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
}

.PlanPage-buttonRow {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 20px;

}


.PlanPage-button {
    /* display: flex;
    justify-content: center;
    position: absolute; */

    font-size: 30px;
    border-radius: 30px;
    padding: var(--s) 20px;
    background-color: black;
    color: white;
    box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.25);
    width: 150px;
}
.PlanPage-button:focus {
    outline: none;
}
.PlanPage-notLoggedIn {
    margin-left: 10%;
    font-size: 20px;
    border-radius: 30px;
    padding: var(--s) 20px;
    color:black;
}

.PlanPage-savePrompt {
    margin-top: 20px;
    margin-left: 10%;
    width: 30%;
}
.PlanPage-input,
.PlanPage-inputButton {
  font-size: 14px;
  padding: var(--s) var(--m);
  
}
.PlanPage-inputButton {
    color: var(--primary);
    border: var(--primary) 1px solid;
    border-radius: 0 var(--xs) var(--xs) 0;
    /* background: none; */
    /* background-color:rgba(0, 123, 255, 0.25); */
    transition: color 0.1s, background 0.1s;
}
.PlanPage-input {
    flex-grow: 1;
    border: var(--darkgrey) 1px solid;
    border-radius: var(--xs) 0 0 var(--xs);
    transition: box-shadow 0.1s;
}
  
.PlanPage-input:focus-within {
    border-color: var(--primary--dim);
    box-shadow: 0 0 0 var(--xs) rgba(0, 123, 255, 0.25);
}

h1 span {
    display: block;
  }