.PlanPage{
    background-color: #ffcd37; 
    background-size: 65%;
    background-image: url('../images/bear.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;   
    height: 100vh;
}
  

.PlanPage-header {
    font-size: 40px;
    line-height: 100px;
    top: 10px;
    position: center;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);

}


.PlanPage-body {
    margin: var(--m) 10%
}

.PlanPage-buttonRow {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 20px;

}


.PlanPage-button {
    /* display: flex;
    justify-content: center;
    position: absolute; */

    font-size: 30px;
    border-radius: 30px;
    padding: var(--s) 20px;
    background-color: black;
    color: white;
    box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.25);
    width: 150px;
}

h1 span {
    display: block;
  }