.StudyBear{
    background-color: #ffcd37; 
    background-size: 50%;
    background-image: url('../images/bear.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;   
    height: 100vh;
    z-index: 100;
 

}
.TagLearner-container {
    
    display: flex;
    justify-content: space-evenly;

    flex-direction: row ;
}
