#TagLearner{
    background-color: #ffcd37; 
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height: 100vh;
    font-family: "Ubuntu", sans-serif;
}
  

.TagLearner-header {
    font-size: 40px;
    line-height: 100px;
    top: 10px;
    position: center;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: "Ubuntu", sans-serif;
    /* font-weight: bold; */

}

h3{
    mix-blend-mode: normal;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: "Ubuntu", sans-serif;
}


.TagLearner-body {
    margin: var(--m) 10%
}


h1 span {
    display: block;

    
  }

h5 span {
    display: block;
}

  .TagLearner-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.TagLearner-img1{
    background-size: 80%;
    background-image: url('../images/bunny.png');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */   
    height: 45vh;
    width: 22%;
    background-color: transparent;
    border-style : none;
  }


  .TagLearner-img2{
    background-size: 80%;
    background-image: url('../images/snail.png');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */   
    height: 45vh;
    width: 20%;
    background-color: transparent;
    border-style : none;

  }



  .TagLearner-button {
    /* display: flex;
    justify-content: center;
    position: absolute; */

    font-size: 30px;
    border-radius: 30px;
    padding: var(--s) 20px;
    background-color: black;
    color: white;
    box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.25);
    width: 150px;
}


.break {
  flex-basis: 100%;
  height: 0;
}

.bottom-right{
  justify-content: right;
  left: 80%;
  top: 80%; 
  position: absolute;
}


