body{
    background-color: #ffcd37; 
    height: 100vh;
}

.WhatDo-header {
    font-size: 40px;
    line-height: 115px;
    position: center;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);

}
.WhatDo-body {
    margin: var(--m) 10%
}

.WhatDo-ExplainButton {
    padding-top: var(--l);
    display: flex;
    justify-content: center;
    left: 564px;
    top: 380px;
    position: absolute;
}