.TaskBar-container {
    border: 1px solid #000000;
    border-radius: 10px;
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction:column;
    overflow: hidden;
    background: lightgray;
    padding: 8px;
}
.TaskBar-buttonRow {
    margin: auto;
}
.TaskBar-addTask {
    margin: 0 var(--s) 0 0;
}
.TaskBar-addBreak {

}
.TaskBar-button {
    border-radius: 20px;
  }
.TaskBar-button:focus {
    outline: none;
}
.TaskBar-planName {
    font-size: 30px;
    color: #444;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}
.TaskBar-style {
    border-radius: 10px;
    margin: 0;
    /* width: 100%; */
    display: flex;
    overflow: hidden;
    background: lightgrey;
    padding: 8px;
}
.TaskBar-time {
    font-size: medium;
    justify-content: space-between;
}
.TaskBar-end {
    text-align: right;
    justify-content: right;
}
