.TaskBar-container {
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction:column;
    overflow: hidden;
    background: white;
    padding: 8px;
    outline: none;
    box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.25);
    background-color: rgb(221, 212, 200);

}
.TaskBar-buttonRow {
    margin: auto;
}
.TaskBar-addTask {
    margin: 0 var(--s) 0 0;
    background-color: #41cbc3;
    border-style: none;
    
}

.TaskBar-addTask:hover {

    background-color: #176e7a;

}

.TaskBar-addBreak {
    outline-style: none;
    background-color: #fff4e9;
    border-style: none;
}

.TaskBar-addBreak:hover {

    background-color:  #769693;

}

.TaskBar-button {
    border-radius: 20px;
    outline-style: none;
  }
.TaskBar-button:focus {
    outline-style: none;
}
.TaskBar-planName {
    font-size: 30px;
    color: #444;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}
.TaskBar-style {
    border-radius: 10px;
    margin: 0;
    /* width: 100%; */
    display: flex;
    overflow: hidden;
    background: rgb(243, 230, 209);
    padding: 8px;
}
.TaskBar-time {
    font-size: medium;
    justify-content: space-between;
}
.TaskBar-end {
    text-align: right;
    justify-content: right;
}
