
p {
  margin-left: 10px;
}

.TaskChanger-container {
  margin: 10px;
  
}

.TaskChanger-delButton {
  margin: 0 var(--s);
  background-color: lightcoral;
  border-style: none;
  transition: color 0.1s, background 0.1s;

}

.TaskChanger-delButton:hover {
  background-color: rgb(134, 43, 43);
}


.TaskChanger-input,
.TaskChanger-button {
  font-family: "Open Sans";
  font-size: 14px;
  padding: var(--s) var(--m);

}

.TaskChanger-input {
  flex-grow: 1;
  border: var(--darkgrey) 1px solid;
  border-radius: var(--xs) 0 0 var(--xs);
  transition: box-shadow 0.1s;
}

.TaskChanger-input:focus-within {
  border-color: var(--primary--dim);
  box-shadow: 0 0 0 var(--xs) rgba(0, 123, 255, 0.25);
}

.TaskChanger-button {
  color: var(--primary);
  border: var(--primary) 1px solid;
  border-radius: 0 var(--xs) var(--xs) 0;
  /* background: none; */
  /* background-color:rgba(0, 123, 255, 0.25); */
  transition: color 0.1s, background 0.1s;
  background-color: #41CBC3;
  color: white;
  font-family: "Ubuntu", sans-serif;
}

.TaskChanger-button:hover {
  color: var(--white);
  background-color:#176e7a;
}

.TaskChanger-timeButton { 
  margin: 0 var(--s) 0 0 ;
  border-style: none;
  background-color: #41CBC3;
  transition: color 0.1s, background 0.1s;
  
  color: white;
  /* box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25); */
  
}

.TaskChanger-timeButton:hover{
  background-color:#176e7a;
  
}

.TaskChanger-bottomRow {
  margin: 0 0 0 10px;
  display: flex;
  justify-content:space-between;
}

.TaskChanger-hideButton {
  background: rgb(221, 213, 200);
  color: gray;
  border-style: none;
}